<aside id="gn-sidebar">
  <a href="/"><div id="gn-logo"></div></a>
  <nav id="gn-menu-nav">
    <ul>
      <li>
        <div class="gn-menu-wrapper"></div>
        <a href="/seguridad" class="gn-text-highlight"><span>SEGURIDAD</span><br/>nuestra tarea No.1</a>
      </li>
      <li class="nosotros">
        <div class="gn-menu-wrapper"></div>
        <%= link_to "Nosotros", nosotros_path %>
      </li>
      <li class="como">
        <div class="gn-menu-wrapper"></div>
        <%= link_to "¿Cómo funciona?", como_path %>
      </li>
      <li class="porque">
        <div class="gn-menu-wrapper"></div>
        <%= link_to "¿Por qué utilizar goninis?", porque_path %>
      </li>
      <li class="registrate">
        <div class="gn-menu-wrapper"></div>
        <%= link_to "¡Registrate!", registrate_path %>
      </li>
      <li class="conviertete">
        <div class="gn-menu-wrapper"></div>
        <%= link_to "Conviértete en Handy", conviertete_path %>
        <div class="gn-menu-wrapper"></div>
      </li>
    </ul>
  </nav>
  <div class="gn-sidebar-border"></div>
</aside>