<!DOCTYPE html>
<html>
<head>
  <title>GnLanding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="gn-header">
    <div class="wrapper">
      <nav>
        <p>Si ya eres usuario <a href-"#">haz click aqu&iacute;</a></p>
      </nav>
    </div>
  </header>
  <div id="gn-body">
    <%= yield %>
  </div>
  <footer class="gn-footer">
    <div class="gn-footer-social-networks">
        <a href="https://twitter.com/goninis"><span class="twitter"></span></a>
        <a href="https://www.facebook.com/Goninis"><span class="facebook"></span></a>
    </div>
  	<div class="gn-footer-policy">
        <%= link_to "Política de privacidad", politicas_path %>
    </div>
  </footer>
</body>
</html>
