<!DOCTYPE html>
<html>
<head>
  <title>GnLanding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag "application" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <header class="gn-header">
      <div class="wrapper">
        <nav>
          <p>Si ya eres usuario <a href-"#">haz click aqu&iacute;</a></p>
        </nav>
      </div>
    </header>
    <div id="gn-body">
      <%= yield %>      
    </div>
    <%= render(partial: "shared/footer") %>  

  </div>
</body>
</html>
